@mixin header() {
    .header {
        display: flex;
        flex-direction: column;
        gap: min(1ch, 1vw);

        font-family: var(--headings-font);
        a { text-decoration: none; }

        &__brand {
            display: flex;
            gap: var(--gap);
            justify-content: space-between;
            align-items: center;

            color: var(--text);
            text-align: end;

            &__image {
                $side: calc(3 * var(--size6));
                max-height: $side;
                max-width: $side;
                margin-block: 1rem;
            }

            &__content {
                display: flex;
                flex-direction: column;
                align-items: end;

                &__title {
                    font-size: var(--size6);
                }

                &__description {
                    font-size: var(--size3);
                }
            }
        }

        &__extra {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .selector {
                border-radius: 5px;
                padding: 1ex;
                box-shadow: 0 0 3px var(--text);
                z-index: 2;

                &--zoom summary span {
                    &:first-child {
                        font-size: 80%;
                    }

                    &:last-child {
                        font-size: 120%;
                    }
                }

                &__list {
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &--zoom {
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
        }
    }
}
