@use "footer" as *;
@use "nav" as *;
@use "header" as *;
@use "main" as *;

@mixin layout() {
    $sm: 600px;
    $md: 800px;
    $lg: 1000px;
    $xl: 1200px;

    :root {
        @media (min-width: $md) {
            --scale: 1.2;
        }
    }

    .header, .nav, .page, .section, .footer, .hero, .taxonomy_single, .not_found {
        width: 95%;
        margin-inline: auto;
        @media screen and (min-width: $sm) { width: 400px; }
        @media screen and (min-width: $md) { width: 600px; }
        @media screen and (min-width: $lg) { width: 800px; }
        @media screen and (min-width: $xl) { width: 1000px; }
    }

    .nav, .footer {
        padding-block: var(--padding-block);
    }

    @include header();
    @include nav();
    @include main($sm, $md, $lg, $xl);
    @include footer();
}
