@mixin nav() {
    .nav {
        font-family: var(--headings-font);

        font-size: var(--size4);

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item {
            &--current {
                @extend .glow;
            }

            &--feed:after {
                content: "";
                display: inline-block;
                width: 1em;
                height: 1em;
                -webkit-mask-image: url("/rss.svg");
                mask-image: url("/rss.svg");
                background-color: currentColor;
            }

            &:last-child {
                a { text-decoration: none; }
            }
        }
    }
}
