@mixin styles($md, $lg) {
    :is(.hero__wrapper, .page, .section, .taxonomy_single, .taxonomy_list) {
        @extend .flow;
    }

    :is(.content, .paginator, .pagination, .page__info, .page__nav) {
        @extend .flow;

        @media screen {
            max-width: 60ch;
            margin-inline: auto;
        }
    }

    .hero {
        min-height: 100vh;

        display: flex;
        flex-direction: column;

        &__wrapper {
            flex-grow: 1;

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: var(--gap);

            @media (min-width: $md) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                place-items: center;
            }

            &__content {
                @extend .flow;
            }

            &__image {
                display: none;

                @media (min-width: $md) {
                    display: block;
                    width: 80%;
                    justify-self: right;
                }
            }
        }
    }

    .section {
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__title {
                margin-right: auto;
            }

            &__feed {
                width: var(--size6);
                height: var(--size6);
                content: "";
                display: inline-block;
                mask-image: url("/rss.svg");
                background-color: currentColor;
            }
        }
    }

    .page {
        &__info {
            display: flex;
            gap: var(--gap);
            align-items: center;

            &__thumbnail {
                flex-basis: 20%;
            }
        }
    }

    .content {
        h1, h2, h3, h4, h5, h6 {
            @media (min-width: $lg) {
                margin-left: -2rem;
            }
        }
    }

    .paginator {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }

    .pagination {
        padding-block-start: var(--padding);

        display: flex;
        flex-direction: column;
        gap: var(--gap);

        h1, h2, h3, h4, h5, h6 {
            @media (min-width: $lg) {
                margin-left: -2rem;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: var(--gap);
        }

        &__nav {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-items: center;

            @media print {
                display: none;
            }

            &__item {
                &--first {
                    justify-self: left;
                }
                &--last {
                    justify-self: right;
                }
            }
        }
    }

    .translations {
        &__list {
            display: inline-block;
        }
    }

    .taxonomies {
        &__list {
            &__item {
                &__list {
                    display: inline-block;
                    & > * + *:before {
                        content: ", ";
                    }

                    &__item {
                        display: inline;
                    }
                }
            }
        }
    }

    .preview {
        @extend .flow;

        &__info {
            display: flex;
            gap: var(--gap);
            align-items: center;

            &__thumbnail {
                flex-basis: 20%;
            }
        }

        &__summary {
            @extend .flow;
        }

        &__footer {
            text-align: center;

            @media print {
                display: none;
            }
        }
    }

    .search {
        &__input {
            font-family: var(--text-font);
            font-size: var(--size3);
            width: 100%;
        }
    }

    .blockquote {
        @extend .flow;

        margin:var(--margin);
        padding: var(--padding);

        background: var(--background-alt);
        box-shadow: 0 0 20px var(--background-alt);
        border-radius: var(--border-radius);

        &__author { text-align: right; }
    }

    .figure {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-block: var(--padding);
    }

    .note {
        margin: var(--margin);
        padding: var(--padding);

        border-radius: var(--border-radius);
        background: var(--note-color);
        box-shadow: 0 0 20px var(--note-color);

        color: var(--background);
        a { color: inherit; }

        &--info { --note-color: var(--info); }
        &--warning { --note-color: var(--warning); }
        &--error { --note-color: var(--error); }
    }

}
