{# vim: set filetype=html: #}

{% macro data_theme() %}
{% if config.extra.theme %}
{% if config.extra.theme | length -1 %}
data-theme="{{ config.extra.default_theme }}"
{% else %}
{% for key, _ in config.extra.theme %}
data-theme="{{ key }}"
{% break %}
{% endfor %}
{% endif %}
{% endif %}
{% endmacro data_theme %}

{% macro color_scheme() %}
{% if config.extra.themes %}
{% set content = "" %}
{% for theme in config.extra.themes %}
{% set_global content = content ~ theme.name %}
{% if not loop.last %}
{% set_global content = content ~ " " %}
{% endif %}
{% endfor %}
{% else %}
{% set content = "light dark" %}
{% endif %}
<meta name="color-scheme" content="{{ content }}" />
{% endmacro color_scheme %}

{% macro favicon(path, size=32, op="fit", quality=100) %}
{% set data = get_image_metadata(path = path) %}
{% if data.format is matching("jpg|png") %}
{% set href = resize_image(path = path, width = size, height = size, op = op, quality=quality) | get(key="url") %}
{% else %}
{% set href = get_url(path = path) %}
{% endif %}
<link rel="icon" type="image/x-icon" href="{{ href | safe }}">
{% endmacro %}

{% macro title(title) %}
{% set lhs = config.title | markdown(inline = true) | striptags | safe %}
{% set rhs = title | markdown(inline = true) | striptags | safe %}
<title>{{ lhs }} | {{ rhs }}</title>
{% endmacro title %}

{% macro description(description) %}
<meta name="description" content="{{ description | markdown(inline = true) | striptags | safe }}" />
{% endmacro description %}

{% macro opengraph(context) %}
<meta property="og:type" content="website" />

{% set lhs = config.title | markdown(inline = true) | striptags | safe %}
{% set rhs = context.extra.opengraph.title | default(value = context.title) | markdown(inline = true) | striptags | safe
%}
<meta property="og:title" content="{{ lhs }} | {{ rhs }}">

<meta property="og:description"
    content="{{ context.extra.opengraph.description | default(value = context.description) | markdown(inline = true) | striptags | safe }}">

<meta property="og:url" content="{{ context.permalink | safe }}">

{% set image = resize_image(
path = context.extra.opengraph.thumbnail | default(value = config.extra.opengraph),
width = 200,
height = 200,
op = "fit",
quality = 100
) %}
<meta property="og:image" content="{{ image.url | safe }}">
<meta property="og:image:width" content="{{ image.width }}" />
<meta property="og:image:height" content="{{ image.height }}" />
{% endmacro %}

{% macro styles() %}
<noscript>
    <style>
        .noscript {
            display: none;
        }
    </style>
</noscript>

{% for theme in config.extra.themes %}
<style>
    :root[data-theme="{{ theme.name }}"] [data-theme]:not([data-theme="{{ theme.name }}"]) {
        display: none;
    }
</style>
{% endfor %}

{% endmacro %}
