{# vim: set filetype=html: #}

{% macro selector(root) %}
<details class="selector">
    <summary>
        {{ trans(key = "__LANGUAGES__", lang = lang) | markdown(inline = true) | capitalize | safe }}
    </summary>

    <div class="selector__list">
        {% for translation in root.translations %}
        <a href="{{ translation.permalink | safe }}">
            {{ trans(key = translation.lang, lang = lang) | capitalize | safe }}
        </a>
        {% endfor %}
    </div>
</details>
{% endmacro selector %}
