{# vim: set filetype=html: #}

{% macro loader() %}
<script>
    const setTheme = (theme) => {
        localStorage.setItem("data-theme", theme);
        document.documentElement.setAttribute("data-theme", theme);
    }

    let local_data_theme = localStorage.getItem("data-theme");
    if (local_data_theme) {setTheme(local_data_theme);}
</script>
{% endmacro loader %}

{% macro selector() %}
<details class="noscript selector">
    <summary>
        {{ trans(key = "__THEMES__", lang = lang) | markdown(inline = true) | capitalize | safe }}
    </summary>
    <div role="list" class="selector__list">
        {% for theme in config.extra.themes %}
        <button onClick="setTheme('{{ theme.name }}')">
            {{ theme.name | capitalize }}
        </button>
        {% endfor %}
    </div>
</details>
{% endmacro selector %}
