{# vim: set filetype=html: #}

{% macro loader() %}
<script>
    const zoom = (value) => {
        let root = document.documentElement;
        let zoom = Number(getComputedStyle(root).getPropertyValue("--zoom"));

        zoom += value;
        if (zoom < .5) {zoom = .5;}
        if (zoom > 1.5) {zoom = 1.5;}

        root.style.setProperty("--zoom", zoom);
        localStorage.setItem("zoom", zoom);
    };

    let local_zoom = Number(localStorage.getItem("zoom"));
    if (local_zoom) {
        document.documentElement.style.setProperty("--zoom", local_zoom);
    }
</script>
{% endmacro loader %}

{% macro selector() %}
<details class="noscript selector selector--zoom">
    <summary>
        <span>A</span>
        <span>A</span>
        <span>A</span>
    </summary>
    <div class="selector__list selector__list--zoom">
        <button onclick="zoom(-.1)">
            {{ load_data(path = "/zoom/minus.svg") | safe }}
        </button>
        <button onclick="zoom(+.1)">
            {{ load_data(path = "/zoom/plus.svg") | safe }}
        </button>
    </div>
</details>
{% endmacro selector %}
