@mixin hero($sm, $md, $lg, $xl) {
    .hero {
        display: grid;
        grid-auto-flow: rows;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        place-items: center;
        gap: var(--gap);

        @media (min-width: $md) {
            grid-auto-flow: column;
        }

        &__image {
            width: 50%;
            @media (min-width: $md) {
                width: 70%;
                justify-self: end;
            }
        }
    }
}

