@use "hero"  as *;
@use "page"  as *;
@use "section"  as *;
@use "settings"  as *;

@mixin main($sm, $md, $lg, $xl) {
    @include hero($sm, $md, $lg, $xl);
    @include section();
    @include page($sm, $md, $lg, $xl);
    @include settings();

    .pagination {
        padding-block-start: calc(2 * var(--padding));

        &__list {
            display: flex;
            flex-direction: column;
            gap: 10rem;
        }

        &__nav {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-items: center;

            @media print {
                display: none;
            }
        }
    }

    .paginator {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }

    .preview {
        &__info {
            display: flex;
            gap: var(--gap);
            align-items: center;

            &__thumbnail {
                flex: 0 0 20%;
                @media (min-width: $md) {
                    img { padding: var(--padding); }
                }
            }
        }

        &__footer {
            margin-block: var(--margin-block);
            text-align: center;

            @media print {
                display: none;
            }
        }
    }

    .translations {
        &__list {
            display: inline-block;
        }
    }

    .taxonomies {
        &__list {
            &__item {
                &__list {
                    display: inline-block;
                    & > * + *:before {
                        content: ", ";
                    }

                    &__item {
                        display: inline;
                    }
                }
            }
        }
    }

    .blockquote {
        margin:var(--margin);
        padding: var(--padding);

        background: var(--background-alt);
        box-shadow: 0 0 20px var(--background-alt);
        border-radius: var(--border-radius);

        &__author { text-align: right; }
    }

    .figure {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-block: var(--padding);
    }

    .note {
        margin: var(--margin);
        padding: var(--padding);

        border-radius: var(--border-radius);
        background: var(--note-color);
        box-shadow: 0 0 20px var(--note-color);

        color: var(--background);
        a { color: inherit; }

        &--info { --note-color: var(--info); }
        &--warning { --note-color: var(--warning); }
        &--error { --note-color: var(--error); }
    }

    .footnote-definition {
        display: flex;
        justify-content: start;
        p { margin-left: 1ch !important; }
    }
}
