@mixin page($sm, $md, $lg, $xl) {
    .page {
        &__info {
            display: flex;
            gap: var(--gap);
            align-items: center;

            &__thumbnail {
                flex: 0 0 20%;
                @media (min-width: $md) {
                    img { padding: var(--padding); }
                }
            }
        }

        &__nav {
            margin: var(--margin);
        }

        .content {
            margin-inline: auto;
            max-width: 70ch;

            ol, ul, p {
                margin-inline: auto;
                max-width: 60ch;
            }
        }
    }
}
