@mixin -zoom() {
    .settings__zoom__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .zoom {
        $side: 3rem;
        width: $side;
        height: $side;

        &--xx-small { font-size: xx-small; }
        &--x-small { font-size: x-small; }
        &--small { font-size: small; }
        font-size: var(--size0);
        &--large { font-size: large; }
        &--x-large { font-size: x-large; }
        &--xx-large { font-size: xx-large; }
    }
}

@mixin -theme() {
    .settings__theme__buttons {
        display: flex;
        align-items: center;
        gap: var(--gap);
    }

    .theme {
        font-size: var(--size4);
    }
}

@mixin settings() {
    @include -zoom();
    @include -theme();
}
