{# vim: set filetype=html: #}

{% macro figure(body, path) %}
<figure class="figure">
    <img src="{{ path }}" alt="{{ body | markdown(inline = true) | striptags | safe }}" />
    <figcaption class="figure__caption">
        {{ body | markdown(inline = true) | safe }}
    </figcaption>
</figure>
{% endmacro figure %}
