{# vim: set filetype=html: #}

{% macro paginator(paginator) %}
<section class="paginator">
    {{ pagination::pages(pages = paginator.pages) }}
    {{ pagination::nav(paginator = paginator) }}
</section>
{% endmacro paginator %}

{% macro pages(pages) %}
<div class="pagination">
    <ul role="list" class="pagination__list">
        {% for page in pages %}
        <li class="pagination__list__item">
            {{ page::preview(page = page) }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endmacro pages %}

{% macro nav(paginator) %}
<nav class="pagination__nav">
    <div class="pagination__nav__item pagination__nav__item--first">
        {% if paginator.current_index != 1 %}
        <a href="{{ paginator.first | safe }}">{{ trans(key="__FIRST__", lang=lang) | capitalize }}</a>
        {% endif %}
    </div>

    <div class="pagination__nav__item">
        {% if paginator.previous %}
        <a href="{{ paginator.previous | safe }}">{{ trans(key="__PREVIOUS__", lang=lang) | capitalize }}</a>
        {% endif %}
    </div>

    <div class="pagination__nav__item">
        {{ paginator.current_index }}
        /
        {{ paginator.number_pagers }}
    </div>

    <div class="pagination__nav__item">
        {% if paginator.next %}
        <a href="{{ paginator.next | safe }}">{{ trans(key="__NEXT__", lang=lang) | capitalize }}</a>
        {% endif %}
    </div>

    <div class="pagination__nav__item pagination__nav__item--last">
        {% if paginator.current_index != paginator.number_pagers %}
        <a href="{{ paginator.last | safe }}">{{ trans(key="__LAST__", lang=lang) | capitalize }}</a>
        {% endif %}
    </div>
</nav>
{% endmacro nav %}
