{# vim: set filetype=html: #}

{% macro quote(body, author) %}
<blockquote class="blockquote">
    {{ body | markdown() | safe }}
    <div class="blockquote__author">
        {{ author | markdown(inline = true) | safe }}
    </div>
</blockquote>
{% endmacro quote %}
