@mixin base() {
    :root {
        $size0: 1.1; $scale: 1.2;
        $size1: $size0 * $scale;
        $size2: $size1 * $scale;
        $size3: $size2 * $scale;
        $size4: $size3 * $scale;
        $size5: $size4 * $scale;
        $size6: $size5 * $scale;

        --zoom: 1;
        --size0: calc(#{$size0}rem * var(--zoom));
        --size1: calc(#{$size1}rem * var(--zoom));
        --size2: calc(#{$size2}rem * var(--zoom));
        --size3: calc(#{$size3}rem * var(--zoom));
        --size4: calc(#{$size4}rem * var(--zoom));
        --size5: calc(#{$size5}rem * var(--zoom));
        --size6: calc(#{$size6}rem * var(--zoom));

        --gap: 3rem;

        --margin: 2rem;
        --padding: 2rem;

        --border-radius: 12px;
        --border-style: solid;
        --border-width: 2px;
    }

    body {
        min-height: 100vh;
        margin:0;

        line-height: 1.5;

        display: flex;
        flex-direction: column;

        .nav, .footer {
            padding-block: 15px;
        }

        & > {
            nav { margin-bottom: var(--margin); }
            main { flex-grow: 1; }
            footer { margin-top: var(--margin); }
        }
    }

    button {
        background-color: transparent;
        border: none;
        font-size: 120%;
        color: var(--text);

        svg {
            width: 1em;
            height: 1em;
        }
    }
}
