@mixin styles() {
    --background: #1F1F28;
    --text: #DDD;
    --links: #EEE;

    --background-alt: #363646;
    --accent-color: #363646;

    --selection-background: #EEE;
    --selection-color: #111;
}

:root[data-theme="dark"] {
    @include styles();
}
