@use "dark";
@use "light";

@mixin themes() {
    :root {
        --text-font: "Georgia";
        --headings-font: "Verdana";

        @include light.styles();
        @media (prefers-color-scheme: dark) {
            @include dark.styles();
        }

        &:not([data-theme]) {
            [data-theme]:not([data-theme="light"]) {
                display: none;
            }
            @media (prefers-color-scheme: dark) {
                [data-theme]:not([data-theme="light"]) {
                    display: initial;
                }
                [data-theme]:not([data-theme="dark"]) {
                    display: none;
                }
            }
        }

        --info: #76946A;
        --warning: #DCA561;
        --error: #C34043;
    }

    body {
        background: var(--background);
        color: var(--text);
        a { color: var(--links); }

        accent-color: var(--accent-color);

        :is(&, .hero) > {
            header, nav, footer {
                background: var(--background-alt);
            }
        }

        ::selection {
            background: var(--selection-background);
            color: var(--selection-color);
        }

        font-family: var(--text-font);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--headings-font);
    }

    .selector {
        &__list {
            width: 100%;
            background: var(--background-alt);
        }
    }
}
