{# vim: set filetype=html: #}

<nav>
    <div class="nav">
        <div class="nav__item {% if section and section == root -%} nav__item--current {%- endif %}">
            <a href="{{ root.permalink | safe }}">
                {{- root.title | markdown(inline = true) | safe -}}
            </a>
        </div>
        {% for subsection in root.subsections %}
        {% set subsection = get_section(path=subsection, metadata_only=true) %}
        {% if subsection.extra.nav | default(value = true) %}

        {% if section and section.path == subsection.path %}
        {% set current = true %}
        {% elif page %}
        {% if page.path is starting_with(subsection.path) %}
        {% set current = true %}
        {% endif %}
        {% else %}
        {% set current = false %}
        {% endif %}

        <div class="nav__item
                {% if current -%} nav__item--current {%- endif %}
                {% if subsection.generate_feed -%} nav__item--feed {%- endif %}
                {% if subsection.extra.noscript | default(value = false) %} noscript {% endif %}
                ">
            <a href="{{ subsection.permalink | safe }}">
                {{- subsection.title | markdown(inline = true) | safe -}}
            </a>
        </div>
        {% endif %}
        {% endfor %}

        {% for subpage in root.pages %}
        {% if subpage.extra.nav | default(value = true) %}
        <div class="nav__item
                {% if page and page == subpage -%} nav__item--current {%- endif %}
                {% if page.extra.noscript | default(value = false) %} noscript {% endif %}
                ">
            <a href="{{ subpage.permalink | safe }}">
                {{- subpage.title | markdown(inline = true) | safe -}}
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</nav>
