{# vim: set filetype=html: #}

{% extends "page.html" %}

{% block main %}
<article class="page settings flow">
    <header>
        <h1>
            {{- trans(key = "__SETTINGS__", lang = lang) | markdown(inline = true) | capitalize | safe -}}
        </h1>
    </header>

    <section class="settings__zoom flow">
        <h2>{{ trans(key = "__ZOOM__", lang = lang) | capitalize | safe }}</h2>

        <div class="settings__zoom__buttons">
            <button onclick="zoom(-0.3)" class="zoom zoom--xx-small">-3</button>
            <button onclick="zoom(-0.2)" class="zoom zoom--x-small">-2</button>
            <button onclick="zoom(-0.1)" class="zoom zoom--small">-1</button>
            <button onclick="zoom(+0.0)" class="zoom">0</button>
            <button onclick="zoom(+0.1)" class="zoom zoom--large">1</button>
            <button onclick="zoom(+0.2)" class="zoom zoom--x-large">2</button>
            <button onclick="zoom(+0.3)" class="zoom zoom--xx-large">3</button>
        </div>
    </section>

    <section class="settings__theme flow">
        <h2>{{ trans(key = "__THEMES__", lang = lang) | capitalize | safe }}</h2>

        <div class="settings__theme__buttons">
            {% for theme in config.extra.themes %}
            <button onClick="theme('{{ theme.name }}')" class="theme theme--{{ theme.name }}">
                {{ theme.name | markdown(inline = true) | capitalize }} {{ theme.thumbnail | markdown(inline = true) }}
            </button>
            {% endfor %}
        </div>
    </section>
</article>
{% endblock main %}
