@mixin kanagawa {
    --background-default: #1F1F28;
    --background-light: #363646;
    --background-dark: #16161D;

    --background-secondary: var(--background-light);
    --background-tertiary: var(--background-dark);

    --color-default: #DCD7BA;
    --color-light: var(--color-default);
    --color-dark: var(--color-default);

    --color-secondary: var(--color-light);
    --color-tertiary: var(--color-dark);
    --color-glow: var(--color-dark);

    --quote-background: var(--background-secondary);
}

:root[data-theme="kanagawa"] {
    @include kanagawa;
    [data-theme]:not([data-theme="kanagawa"]) { display: none; }
}
