{# vim: set filetype=html: #}

{% extends "section.html" %}

{% block header %}
{% endblock header %}

{% block nav %}
{% endblock nav %}

{% block main %}
<main>
    <section class="hero">
        {% include "header.html" ignore missing %}
        {% include "nav.html" ignore missing %}
        <div class="hero__wrapper">
            <div class="hero__wrapper__content">
                <h1>{{ section.extra.hero.title | markdown(inline = true) | safe }}</h1>
                {{ section.extra.hero.description | markdown() | safe }}
            </div>
            {% for theme in config.extra.themes | default(value = []) %}
            {{
            images::image(
            path = theme.hero | default(value = config.extra.hero),
            alt = config.title | markdown(inline = true) | striptags | safe,
            class = "hero__wrapper__image",
            theme = theme.name)
            }}
            {% else %}
            <img class="hero__wrapper__image" src="{{ get_url(path = config.extra.brand) }}"
                alt="{{ config.title | markdown(inline = true) | striptags | safe }}" />
            {% endfor %}
        </div>
    </section>
</main>
{% endblock main %}
