{# vim: set filetype=html: #}

<nav>
    <div class="nav">
        <div class="nav__menu">
            <div class="nav__menu__item {% if section and section == root -%} nav__menu__item--current {%- endif %}">
                <a href="{{ root.permalink | safe }}">
                    {{- root.title | markdown(inline = true) | safe -}}
                </a>
            </div>
            {% for subsection in root.subsections %}
            {% set subsection = get_section(path=subsection, metadata_only=true) %}

            {% if section and section.path == subsection.path %}
            {% set current = true %}
            {% elif page %}
            {% if page.path is starting_with(subsection.path) %}
            {% set current = true %}
            {% endif %}
            {% else %}
            {% set current = false %}
            {% endif %}

            <div class="nav__menu__item
                {% if current -%} nav__menu__item--current {%- endif %}
                {% if subsection.generate_feed -%} nav__menu__item--feed {%- endif %}
                ">
                <a href="{{ subsection.permalink | safe }}">
                    {{- subsection.title | safe -}}
                </a>
            </div>
            {% endfor %}

            {% for subpage in root.pages %}
            {% if subpage.extra.nav | default(value = true) %}
            <div class="nav__menu__item {% if page and page == subpage -%} nav__menu__item--current {%- endif %}">
                <a href="{{ subpage.permalink | safe }}">
                    {{- subpage.title | safe -}}
                </a>
            </div>
            {% endif %}
            {% endfor %}

            {% if config.extra[lang].nav.links %}
            {% for entry in config.extra[lang].nav.links %}
            <div class="nav__menu__item">
                <a href="{{ entry.href | safe }}">{{ entry.text | safe }}</a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</nav>
