{# vim: set filetype=html: #}

{% extends "base.html" %}

{% block title %}
{{ head::title(title = page.title) }}
{% endblock title %}

{% block description %}
{{ head::description(description = page.description) }}
{% endblock description %}

{% block meta %}
{{ head::opengraph(context = page) }}
{% endblock meta %}

{% block main %}
<main>
    <article class="page">
        {% block page__header %}
        <header class="page__header">
            <h1>{{ page.title | markdown(inline = true) | safe }}</h1>
        </header>
        {% endblock page__header %}

        {% block page__info %}
        <aside class="page__info">
            <div class="page__info__thumbnail">
                {% for theme in config.extra.themes | default(value = []) %}
                {% set path
                = page.extra.theme[theme.name].thumbnail
                | default(value = page.extra.thumbnail
                | default(value = theme.thumbnail
                | default(value = config.extra.thumbnail
                ))) %}
                {{
                images::image(
                path = path,
                alt=page.title | markdown(inline = true) | striptags | safe,
                theme = theme.name,
                )
                }}
                {% endfor %}
            </div>
            <div class="page__info__content">
                {{ page::translations(page = page) }}
                {{ page::dates(page = page) }}
                {{ page::taxonomies(page = page) }}
                {{ page::reading_time(page = page) }}
            </div>
        </aside>
        {% endblock page__info %}

        {% block page__nav %}
        <nav class="page__nav">
            {{ page::toc(page = page) }}
        </nav>
        {% endblock page__nav %}

        {% block content %}
        <section class="content">
            {{ page.content | safe }}
        </section>
        {% endblock content %}
    </article>
</main>
{% endblock main %}
