{# vim: set filetype=html: #}

{% extends "page.html" %}

{% block page__info %}
<aside class="page__info">
    {{ page::translations(page = page) }}
</aside>
{% endblock page__info %}

{% block content %}
<section class="search">
    <input id="search" class="search__input" type="text"
        placeholder="{{ trans(key = '__SEARCH__', lang = lang) | capitalize }}" autofocus />
    <div id="result" class="search__result"></div>
</section>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script src="/elasticlunr.min.js"></script>
<script src="{{ '/search_index.' ~ lang ~ '.js' }}"></script>

<script>
    // let foo = elasticlunr.Index.load(window.searchIndex);
    // console.log("Autruche");
    // console.log(foo);

    let search = document.getElementById("search");
    let result = document.getElementById("result");

    function debounce(func, timeout = 300) {
        let timer;
        return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => {func.apply(this, args);}, timeout);
        };
    }

    let index = undefined;
    let init = async () => {
        if (index === undefined) {
            fetch("{{ '/search_index.' ~ lang ~ '.js' }}")
            then(
                async function (response) {
                    return await elasticlunr.Index.load(await response.json());
                }
            );
        }
        let result = await index;
        return result;
    };
</script>
{% endblock scripts %}
